body{

background-color: rgba(177, 163, 163, 0.6);

}

.nav {
  background-color: rgba(255, 255, 255, 0.6);
    display:inline-flex;
  width:100%;
  border-radius: 4px;
  font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: rgb(78, 75, 75);
}